@white: #FFF;
@linen: #F8EAE5;
@blush: #D09683;
@glamour: #FF7675;
@sea-teal: #20948B;
@pine: #5B7065;
@charcoal: #231F1B;

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  height: 95vh;

  div {
    background-color: @blush;
    text-align: center;
  }
}