.landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header"
    "header header header";
  grid-gap: 0.7%;
  height: 98vh;
}

.one {
  grid-area: header;
  background-image: url('https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/me.jpg');
  background-size: cover;
  background-position: center center;
}

.two {
  background-image: url('https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/comp.jpg');
  background-size: cover;
  background-position: center center;
}

.three {
  background-image: url('https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/chicago.jpg');
  background-size: cover;
  background-position: center center;
}

.four {
  background-image: url('https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/connor-mcsheffrey-87376-unsplash.jpg');
  background-size: cover;
  background-position: center center;
}