@stone: #C0C0C0;
@sand-green: #B6B9B6;
@charcoal: #231F1B;

.nav {
  padding: 2%;
  text-align: center;
}

.header {
  font-family: 'Montserrat Alternates', sans-serif;
}

.first {
  color: @charcoal;
}

.last {
  color: @sand-green;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 5%;

  li {
    padding: 2%;
  }
}

.bar {
  width: 75%;
  border: 0;
  height: 0;
  border-top: 1px solid @stone;
  margin-top: 100%;
}