@charcoal: #231F1B;
@linen: #F8EAE5;

.artro {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  overflow-y: scroll;
  p {
    margin-bottom: 5%;
  }
}

.art {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1%;
  height: 100vh;
  div {
    background-size: cover;
    background-position: center center;
    .title {
      display: none;
    }
  }
  
  div:hover {
    transition: .5s ease;
    text-align: center;
    color: @linen;
    .title {
      padding: 5%;
      margin-top: 15%;
      background-color: @charcoal;
      display: block;
      h3 {
        margin-bottom: 2%;
        text-transform: uppercase;
      }
      h5 {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .art {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(250px, 1fr));
  }
}

.one {
  background-image: url("https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/ceremonial-dance.jpg");
}

.two {
  background-image: url("https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/pagoda.jpg");
}

.three {
  background-image: url("https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/grandpa.jpg");
}

.four {
  background-image: url("https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/migrant-mother.jpg");
}

.five {
  background-image: url("https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/primarily-mao.jpg");
}

.six {
  background-image: url("https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/sean.jpg");
}
