@stone: #C0C0C0;

.portfolio {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  overflow-y: scroll;
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid @stone;
    margin-bottom: 10%;
  }
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  height: 30vh;
}

@media (max-width: 768px) {
  .images {
    grid-template-columns: 1fr;
    height: 90vh;
  }
}

.one {
  background-image: url('https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/me.jpg');
  background-size: cover;
  background-position: center center;
}

.two {
  background-image: url('https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/me.jpg');
  background-size: cover;
  background-position: center center;
}

.three {
  background-image: url('https://s3.us-east-2.amazonaws.com/www.evalinebai.com/media/me.jpg');
  background-size: cover;
  background-position: center center;
}